    .wrong{background-color: rgb(235, 82, 82)}
    .correct{background-color: rgb(100, 191, 82)}
    .error{
    color:#c66;
    border: 5px #c66 double;
    display: inline-block;
    }
    *{
    text-align:center;
    }
    table{
    margin: auto;
    border-collapse: collapse;
   }
    td, th {
    padding: 5px;
    border: 2px solid gray;
   }
   .tdbutton{
   border-width: 0px 0px 0px 2px;
   }