<!DOCTYPE html>
{% load template_filter %}
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Информация о ситхах</title>
    <link rel="stylesheet" href="{% static 'css/styles_sith_info.css' %}" type="text/css"/>
</head>
<body>
{% if not siths %}
<h3 class="error">Нет ни одного ситха!</h3>
{% else %}
<h3>Список ситхов с указанием количества их Рук Теней:</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Планета</th>
        <th>Количество Рук Теней</th>
    </tr>
    {% for s in siths %}
    <tr>
        <td>{{s.id}}</td>
        <td>{{s.name}}</td>
        <td>{{s.planet.name}}</td>
        <td>{{count|get:s.id}}</td>
    </tr>
    {% endfor %}
</table>
<h3 style="margin-top:30px;">Ситхи, которые имеют хотя бы одну Руку Тени:</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Планета</th>
        <th>Количество Рук Теней</th>
    </tr>
    {% for s in siths %}
    {% if count|get:s.id > 0 %}
    <tr>
        <td>{{s.id}}</td>
        <td>{{s.name}}</td>
        <td>{{s.planet.name}}</td>
        <td>{{count|get:s.id}}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endif %}
</body>
</html>